{% extends "bulma/base.html" %}
{% load static bulma_tags %}
{% block css %}
    {% font_awesome %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
    <style>
        p.indented,
        div.indented p {
            text-indent: 30px;
        }
    </style>
{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
<section class="hero is-small">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="#">
                        <span>HexChamber</span>
                    </a>
                    <div class="navbar-burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="navbar-menu" id="navbarMenu">
                    <div class="navbar-start">
                        {% block app_navbar %}
                        {% endblock %}
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">Menu</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item {% if app == 'blog' %}is-active{% endif %}" href="#">Blog</a>
                                <a class="navbar-item{% if app == 'social' %} is-active{% endif %}" href="#">Chambers</a>
                                <a class="navbar-item{% if app == 'eshop' %} is-active{% endif %}" href="#">The Shop</a>
                                <a class="navbar-item{% if app == 'academy' %} is-active{% endif %}" href="#">Academy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        {% block banner %}
        {% endblock %}
    </div>
    <div class="hero-foot">
        {% block tabnav %}
        {% endblock %}
    </div>
</section>
{% endblock %}
{% block content_area %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            {% block app_content %}
            {% endblock %}
        </div>
    </div>
</section>
{% endblock %}
{% block modal %}
{% endblock %}
{% block footer %}
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>HexChamber</strong> built by <a href="https://github.com/HexChamber/">HexChamber DEV</a>.
            </p>
            <p>
                Source code is licensed by <a href="https://opensource.org/licenses/mit-license.php">MIT License</a>.
            </p>
        </div>
    </div>
</footer>
{% endblock %}
{% block javascript %}
{% block extra_javascript %}{% endblock %}
{% endblock %}


