{% extends "base.html" %}
{% load static bulma_tags %}
{% block extra_css %}
<style>
    .is-facebook {
        background-color: #3b5399;
        color: #fff;
    }
    .is-twitter {
        background-color: #00cffa;
        color: #fff;
    }
    .is-google {
        background-color: #de1710;
        color: #fff;
    }
</style>
{% endblock %}
{% block tabnav %}
{% if request.user.is_authenticated %}
    <div class="hero-foot has-text-centered">
        <div class="tabs is-centered is-boxed has-text-centered">
            <ul class="has-text-centered">
                <li {% if section == "dashboard" %} class="is-active"{% endif %}>
                    <a href="{% url 'dashboard' %}">
                        <span class="icon is-small"><i class="fa-solid fa-gauge"></i></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li {% if section == "feed" %} class="is-active"{% endif %}>
                    <a href="#">
                        <span class="icon is-small"><i class="fa-solid fa-image"></i></span>
                        <span>Feed</span>

                    </a>
                </li>
                <li {% if section == "people" %} class="is-active"{% endif %}>
                    <a href="#">
                        <span class="icon is-small"><i class="fa-solid fa-users"></i></span>
                        <span>Community</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block app_content %}
<div class="column is-10">
    {% block content %}
    {% endblock %}
</div> 
{% endblock %}
{% block extra_javascript %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        document.addEventListener('keydown', (event) => {
            if (event.key === 'Escape') {
                closeAllModals();
            }
        });
    });
</script>
{% endblock %}