{% extends "social_base.html" %}
{% block title %}Logged out{% endblock %}
{% block banner %}
<h2 class="title is-2 has-text-centered">Logged out</h2>
<p class="subtitle has-text-centered">You are no longer logged into your account.</p>
{% endblock %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-two-thirds">
        <div class="message is-success is-light">
            <div class="message-body">
                <div class="content indented">
                    <p>You have successfully logged out of your account. To regain access to it, you may navigate to the login page using the button below and enter your credentials again.
                    </p>
                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a class="button is-link is-block is-fullwidth" href="{% url 'login' %}">Return to login</a>
        </div>
    </div>
</div>
{% endblock %}
