{% extends "social_base.html" %}
{% block title %}Reset your password{% endblock %}
{% block banner %}
<div class="content has-text-centered">
    <h2 class="title is-2">Reset your password</h2>
    {% if validlink %}
    <p class="subtitle">Enter and confirm your new password below:</p>
    {% endif %}
</div>
{% endblock %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-half">
        {% if validlink %}
        <div class="box">
            <form method="post">
                {{ form|bulma }}
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-block is-fullwidth is-danger is-outlined">Reset password</button>
                    </div>
                </div>
            </form>
        </div>
        {% else %}
        <div class="message is-danger is-light">
            <div class="message-body">
                <div class="content indented">
                    <p>The link you just tried to use appears to be invalid, possibly because it is old or has been used. Please request a fresh reset link once more to reset
                        your password.
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}