{% extends "social_base.html" %}
{% load bulma_tags %}
{% block title %}Reset your password{% endblock %}
{% block banner %}
<div class="content has-text-centered">
    <h2 class="title is-2">
        Reset your password
    </h2>
    <p class="subtitle">
        Check your inbox at the provided email.
    </p>
</div>
{% endblock %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-two-thirds">
        <div class="message is-info">
            <div class="content indented">
                <p>We've sent an e-mail containing password reset instructions to the <em>email address you provided</em>. If there is an account associated with it,
                    you may follow the link provided to continue the reset process.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}