{% extends "blog/base.html" %}
{% load static bulma_tags %}
{% block banner %}
<h2 class="title">HexChamber Blog</h2>
{% endblock %}
{% block content %}
    {% for post in posts %}
    <div class="card">
        <div class="card-header">
            <a class="card-header-title is-size-5" href="{% url 'blog:post_detail' post.id %}">
                {{ post.title }}
            </a>
            <p class="subtitle has-text-weight-light is-italic is-size-7 mt-2 mr-2">
                    Published {{ post.publish }} by {{ post.author }}
                </p>
        </div>
        <div class="card-content">
            <div class="tags is-right">
                <a class="tag is-primary" href="#">Tag 1</a>
                <a class="tag is-dark" href="#">Tag 2</a>
                <a class="tag is-link" href="#">Tag 3</a>
            </div>
            <div class="content indented">
                {{ post.body|truncatewords_html:30|linebreaks }}
            </div>
        </div>
    </div>
    <br />
    {% endfor %}
{% endblock %}